body {
  margin: 0px;
}



div.ttt-row {
  display: flex;
  flex: 1 1 auto;
  width:75%;
  margin:auto;
  max-width:600px;
}

div.ttt-square {
  flexgrow:1;
  border: 3px solid black;
  border-bottom: 100px;
  min-height: 50px;
  width:30%;
}

div.ttt-bottom {
  border-bottom: 3px solid black;
}

#end-of-game{
  display:none;
  background-color:rgba(0,0,0,0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 999;
  
}
#end-of-game.div{
  background-color: white;
  width: 50%;
  max-width: 400px;
  margin: 200px auto;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
   
}

h1 {
  cherry-bomb-one;
}

player-turn{
  border:solid black;
}
